h1{
    margin: 0;
    padding: 10px;
    width: 30%;
    overflow: hidden;
    background-color: burlywood;
}
h2 {
    margin: 0;
    padding: 10px;
    width: 30%;
    overflow: hidden;
    background-color: burlywood;
}